:host {
    flex-grow: 1;
    display: flex;
}

.heading {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.2em;
}

.img-container {
    position: relative;
}

.img {
    width: 100%;
}

.user-email {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.8rem;
}