:host {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 2em;
    box-shadow: 5px 5px 25px grey;
    box-sizing: border-box;
    width: 450px;
    max-width: 90%;
    margin: 2em 0;
}

.heading {
    text-align: center;
    font-size: 2rem;
    color: teal;
}

.register-form {
    display: flex;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form-input {
    padding: 1em;
    outline: none;
    border: none;
    box-shadow: 2px 2px 5px rgb(128, 128, 128, 0.5) ;
    width: 100%;
    box-sizing: border-box;
}

.error {
    margin-top: 0.3em;
    color: red;
}

.visibility {
    position: absolute;
    right: 1em;
    font-size: 1rem;
    cursor: pointer;
}

.btn {
    align-self: center;
    background-color: teal;
    width: fit-content;
    padding: 1em 2em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

.btn:disabled {
    background-color: rgb(163, 161, 161);
    cursor: auto;
}

.other-options {
    align-self: center;
    text-align: center;
}

.login a{
    color: teal;
    text-decoration: none;
}

.required {
    color: red;
}

.gender {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.gender-options {
    display: flex;
    gap: 1em;
}